.empty{
    /* border: 1px solid brown; */
    height: 180px;
    width: 180px;
    /* background-color: white; */
    /* text-align: center; */
    cursor: pointer;
    /* float:left */
    /* margin-left: auto;
    margin-right: auto; */
  }
  table ,td {
    border: 1px solid white;
    /* border-collapse: collapse; */
    margin: auto;
  }
  td {
    background-color: #96D4D4;
  }
  
  .image1{
    background-image: url(x.png);
    background-repeat: no-repeat;
    height: 180px;
    width: 180px;
  }